Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'Bappy' , 'age' : 22 , 'gender' : 'male' }


Characterstics: Mutable, Indexing has no meaning, keys can't be duplicated, keys can't be mutable items

In [1]:
# 1D Dictionary
dict = {
    "name":"Pradum",
    "age":24,
    "gender":"male"
}
print(dict)

{'name': 'Pradum', 'age': 24, 'gender': 'male'}

In [2]:
# mixed dictionary
dict = {
    (1,2,3):33,
    "name":"pradum"
}
print(dict)

{(1, 2, 3): 33, 'name': 'pradum'}

In [4]:
# using sequence and dict function
d4 = dict([("name", "bappy"), ("age", 22)])
print(d4)

TypeError: 'dict' object is not callable

In [ ]:
# duplicate keys(duplicate keys is not allowed in dictionary)
# it takes the latest value
d2 = {
    "name":"pradum",
    "name":"manish",
    "age":23
}
print(d2)

{'name': 'manish', 'age': 23}

In [ ]:
# dictionary doest not contain the mutable items it can contain the immutable items
d3 ={
    [1,2,3]:33,
    "name":"john",
    "age":23
}

TypeError: unhashable type: 'list'

In [7]:
# Adding key value pair
dict = {
    "name":"Pradum",
    "age":24,
    "gender":"male"
}

In [8]:
dict

{'name': 'Pradum', 'age': 24, 'gender': 'male'}

In [9]:
dict["weight"]=50

In [10]:
dict

{'name': 'Pradum', 'age': 24, 'gender': 'male', 'weight': 50}

In [ ]:
# editing key value pair
# Imp : We can't change the key name we can only update the values
dict = {
    "name":"Pradum",
    "age":24,
    "gender":"male"
}

In [12]:
dict["name"]="manish"

In [13]:
dict

{'name': 'manish', 'age': 24, 'gender': 'male'}

#Remove key-value pair
<!-- We can always remove the key of dictionary and then respective values will be deleted. We can't directly delete the value -->
dict.pop("name")


We can always remove the key of dictionary and then respective values will be deleted. We can't directly delete the value.

In [18]:
dict.pop("age")

24

In [19]:
dict

{'gender': 'male'}

In [20]:
dict = {
    "name":"Pradum",
    "age":24,
    "gender":"male"
}

In [21]:
dict

{'name': 'Pradum', 'age': 24, 'gender': 'male'}

In [22]:
# Pop item : pop item delete the last item but pop delete the specific item , that we assign 
dict.popitem()

('gender', 'male')

In [23]:
dict

{'name': 'Pradum', 'age': 24}

In [24]:
dict = {
    "name":"Pradum",
    "age":24,
    "gender":"male"
}
del dict["name"]

In [25]:
dict

{'age': 24, 'gender': 'male'}

In [26]:
dict = {
    "name":"Pradum",
    "age":24,
    "gender":"male"
}
dict.clear()

In [27]:
dict

{}

In [ ]:
# Membership operation
# Imp : Membership operation always operates on "key" not "value"
dict = {
    "name":"Pradum",
    "age":24,
    "gender":"male"
}
"name" in dict

True

In [30]:
for index in dict:
    print(index,dict[index])

name Pradum
age 24
gender male

In [31]:
# Dictionary comprehension
{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}