A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Charactersitics: Unordered ,Mutable,No Duplicates,Can't contain mutable data types

In [ ]:
# Important
# Creating sets
s = {}
type(s)

dict

In [5]:
# Important
s = set()
type(s)

set

In [4]:
s = {1,2,3,4}
print(s)

{1, 2, 3, 4}

In [7]:
s1 = {1,3,4,{5,6}}

TypeError: unhashable type: 'set'

In [9]:
s1 = {1,3,4,(5,6)}
s1

{(5, 6), 1, 3, 4}

In [10]:
# Sets can't have the mutable items
s2 = {4,5,6,[8,9]}

TypeError: unhashable type: 'list'

In [11]:
# Set follows unordered collection
s1 = {1,2,3}
s2 = {3,2,1}
s1 == s2

True

In [13]:
# Accessing items
# Because set is an unordered collection and therefore there is no indexing in sets
s1 = {1,2,3}
s1[0]

TypeError: 'set' object is not subscriptable

In [15]:
# Editing items
# The reason is the sets does not have index because it is unordered
s1 = {1,2,3}
s1[0]=5

TypeError: 'set' object does not support item assignment

In [16]:
s1 = {1,2,3}
s1.add(5)

In [17]:
s1

{1, 2, 3, 5}

In [ ]:
# So as a list we can add the values in the sets
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [19]:
del s[0]

TypeError: 'set' object doesn't support item deletion

In [28]:
# Deleting items
# Discard the items
s1.discard(6)
s1

{1, 2, 3, 4}

In [ ]:
# Remove the items
# Imp: If we want to delete that item which are not present in the set then remove throws the error but discard print the sets as it is.
s1.remove(4)
s1

{1, 2, 3}

In [ ]:
# Pop will randomly delete the items
s1.pop()
s1

{2, 3}

In [34]:
s2 = {4,5,6,7,8,9}
s2.pop()
s2

{5, 6, 7, 8, 9}

In [35]:
s2.pop()

5

In [36]:
s2

{6, 7, 8, 9}

In [37]:
# Clear : It clears the sets
s3 = {9,10,11}
s3.clear()

In [38]:
s3

set()

In [39]:
# Union(|)
# Intersection (&)
# Difference (-)
# Sysmmetric difference (^)

Frozenset -> Frozenset is just an immutable version of a python set object

In [40]:
fs1 = frozenset([1,2,3])

In [41]:
fs1

frozenset({1, 2, 3})

In [42]:
fs2 = frozenset([4,5,6])
fs2

frozenset({4, 5, 6})

In [43]:
fs1.union(fs2)

frozenset({1, 2, 3, 4, 5, 6})

In [44]:
fs1 | fs2

frozenset({1, 2, 3, 4, 5, 6})

In [ ]:
# Set comprehension
{i*i for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

: