A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

->Ordered
->Unchangeble
->Allows duplicate

Creating a single tuple

In [1]:
t1 = ("Pradum")
print(t1)
print(type(t1))

Pradum
<class 'str'>

Imp: When we want to create a single tuple then we have to seprate it with comma otherwise the type of the resultant tuple will be a string.

In [3]:
t1 = ("Pradum",)
print(t1)
print(type(t1))

('Pradum',)
<class 'tuple'>

Type Casting

In [4]:
t2 = (5,6,7,8)
temp = list(t2)

In [5]:
temp

[5, 6, 7, 8]

In [7]:
temp.append(9)

In [8]:
temp

[5, 6, 7, 8, 9]

In [9]:
t3 = tuple(temp)

In [10]:
t3

(5, 6, 7, 8, 9)

In [11]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [12]:
t1*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [13]:
# membership operation
1 in t1

True

In [14]:
5 in t1

False

In [15]:
# Tuple unpacking
t = (1,2,3)

In [16]:
t

(1, 2, 3)

In [17]:
a,b,c = (1,2,3)

In [18]:
print(a,b,c)

1 2 3

In [19]:
a,b = (1,2,3)

ValueError: too many values to unpack (expected 2)

In [21]:
# To handle this error
a,b,*others = (1,2,3,4,5,6)
print(a,b)
print(others)

1 2
[3, 4, 5, 6]

In [22]:
# Tuple zipping
t1 = (1,2,3)
t2 = (4,5,6)
tuple(zip(t1,t2))

((1, 4), (2, 5), (3, 6))

In [23]:
zip(t1,t2)

Tuple Compehension
There is no tuple comprehension in Python. But We will see how we can emulate tuple comprehension in Python.

In [25]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
tuple(i for i in range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)